gaulois-pipe/src/main/resources/fr/efl/chaine/xslt/schemas/test-case.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="qname" type="QName" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:simpleType name="QName">
    <xs:restriction base="xs:string">
      <xs:pattern value="((([^:]+:)?[^:]+)|(Q?\{[^\{\}]+\}[^:\{\}]+))"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
